<!DOCTYPE html>
<html>
<head>
  <title>Groupdating</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <style>

  body {
      padding-top: 20px;
  }

  .margin-base-vertical {
      margin: 40px 0;
  }

  </style>
</head>

<body>
	<div class="container">
  
  <!-- ========================== HEADER ========================== -->
  
    <div class="row">
      <div class="span6">
        <div class="logo on-left"> Logo here </div>
        <h2 class="text italic thin">Landing Template</h2>
      </div>
<<<<<<< HEAD
      <nav class="span6">
        <a href="#" class="btn btn-success btn-md"><span class="icon user"></span>Login</a>
        <a href="#" class="btn btn-success btn-md"><span class="icon pencil"></span>Signup</a>
=======
      <nav class="column_6 text right">
        <a href="auth/facebook" class="button secondary"><span class="icon user"></span>Login/Signup</a>
>>>>>>> 5a2882df073e59f88bb2b24ff5da710c0a531006
      </nav>
    </div>
	
	 <!-- ==========================  YIELD ========================== -->
	 
<%= yield %>

<<<<<<< HEAD
	 <!-- ========================== FOOTER ========================== -->
    <div class="row">
      <div class="span5">
=======
  <!-- ========================== FOOTER ========================== -->
  <footer class="bck dark padding">
    <div class="row margin-top margin-bottom">
      <div class="column_5">
>>>>>>> 5a2882df073e59f88bb2b24ff5da710c0a531006
        <p class="text bold big">Handcrafted by <a href="http://tapquo.com" class="display inline"><img src="http://cdn.tapquo.com/images/logo_footer.png"/></a></p>
        We're a  user experiences company located in <span class="text normal">Bilbao</span>, ES.
      </div>
      <div class="span4">
        <p class="text bold big">Join the team!</p>
                Let us know how you're! <a href="mailto:hello@tapquo.com?subject=job" class="text underline color theme">Get in touch</a>
      </div>
      <div class="span3">
        <p class="text bold big">Need some help?</p>
        For quick answers or help <a href="https://twitter.com/tapquo" target="_blank" class="text underline color theme">follow us</a>
      </div>
    </div>
</div>

</body>
</html>
