<!DOCTYPE html>
<html>
<head>
  <title>Groupdating</title>
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Josefin+Sans+Std+Light' rel='stylesheet' type='text/css' />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <style>

  body {
      padding-top: 20px;
  }

  .margin-base-vertical {
      margin: 40px 0;
  }

  </style>
</head>

<body>
  
  <!-- ========================== HEADER ========================== -->
  <div class="container-fluid">
	  <div class="row">
		  <div class="span12 welcome">
			  <h1 id="logo">evenings</h1>
			  <h2> 3 guys. 3 girls. </h2>
			  <h3>The best way to meet new people in your city.</h3>
		  </div>
	  </div>
	  <div class="row">
		  <div class="span12">
			  			  <a href="auth/facebook" id="auth-button">Login/Signup</a>
					  </div>
				 </div>
  </div>
		  

	 <!-- ==========================  YIELD ========================== -->
	 
<%= yield %>



	 <!-- ========================== FOOTER ========================== -->
	 <div class="container-fluid" id="footer">
    <div class="row">
		<div class="span12">
			social media links and shit
    </div>
</div>
</div>

</body>
</html>
